# Token API Bot Telegram dan ID pengguna
BOT_TOKEN = 'xxxxxxxx'
CHAT_ID = 'xxxxx'

# API endpoint kirim data ke website
URL_API = 'xxxxxxx'

# Berapa lama alat aktif? (pakai detik)
TIMER = 1800

# Seberapa sensitiv dari titik tengah
THRESHOLD = 50

# Nama file model YOLO yang dipakai
MODEL_YOLO = "egg.pt"

# Pengaturan Serial
PORT_SERIAL = 'COM10'
KECEPATAN_SERIAL = 115200

# Pengaturan Webcam
WEBCAM = 0
FPS = 30
FRAME_LEBAR = 1280
FRAME_TINGGI = 720